# Question 1:

Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

Input Format:
The first line of the input contains an email address.

Output Format:
Print the company name in single line.

Example:
Input:
john@google.com

Output:
google

In [1]:
find_email = input("Enter your email ID:")
x = find_email.index("@")
print(find_email[x + 1 : len(find_email) - 4], end='')

Enter your email ID:divyraj5@gmail.com
gmail

# Question 2:

Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

Input Format:
The first line of input contains words separated by the comma.

Output Format:
Print the sorted words separated by the comma.

Example:

Input:
without,hello,bag,world

Output:
bag,hello,without,world

In [2]:
items = input("Enter comma separated sequence of words: ")
sort_words = [word for word in items.split(",")]
print(",".join(sorted(list(set(sort_words)))))

Enter comma separated sequence of words: without,hello,bag,world
bag,hello,without,world

# Question 3:

Create your own Jupyter Notebook for Sets.

# Sets:

In python, sets is a data structure which is a collection of unordered and unindexed elements. Just like tuples, sets are immutable ie when the elements are assigned it cannot be changed. But sets itself can be mutable.

There are 2 types of sets :

1) set()
2) frozenset()

Following are few examples of set functions :

# Add():

In sets, add() function is used to add an element in a given set.

Syntax : set_name.add()

In [6]:
s1 = {"Apple", "Facebook", "Amazon", "Google"}
s1.add("Microsoft")
print(s1)

{'Google', 'Amazon', 'Microsoft', 'Apple', 'Facebook'}

# Pop() :

In sets, pop() will delete an element from a given unordered set.

Syntax:
set_name.pop()

In [9]:
set_2 = {"Google", "Amazon", "Microsoft", "Apple" ,"Facebook"}
set_2.pop()
print(set_2)

{'Amazon', 'Microsoft', 'Apple', 'Facebook'}

# Union():

In sets, union() method returns a set that contains all the elements from 2 or more sets and duplicate values are discarded.

Syntax:

set.union(set1, set2)

In [12]:
s_1 = {10,15,23,35,40,45,55}
s_2 = {5,20,30,60}
s3 = s_2.union(s_1)
print(s3)

{35, 5, 40, 10, 45, 15, 20, 23, 55, 60, 30}

# Intersection():

In sets, intersection() method will return only those elements that are common in both the sets.

Syntax:

set.intersection(set1, set2,...)

In [13]:
s_1 = {10,15,23,35,40,45,55}
s_2 = {5,10,15,20,40,30,60}
s3 = s_2.intersection(s_1)
print(s3)

{40, 10, 15}

# Issuperset():

The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it retuns False.

Syntax:

set.issuperset(set)

In [14]:
a = {10, 20, 30, 35, 40 , 45, 50}
b = {10, 20, 40}
c = a.issuperset(b)
print(c)

True

# Question 4:

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

Input Format:
The first line contains n-1 numbers with each number separated by a space.

Output Format:
Print the missing number

Example:

Input:1 2 4 6 3 7 8

Output:5

In [16]:
def find_missing(lst): 
    return [x for x in range(lst[0], lst[-1]+1) if x not in lst] 
lst = [1, 2, 4, 6, 7, 9, 10, 13] 
print(find_missing(lst))

[3, 5, 8, 11, 12]

# Question 5:

With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

Example:

If the input list is

12 24 35 24 88 120 155 88 120 155

Then the output should be

12 24 35 88 120 155

Explanation:

Third, seventh and ninth element of the list L has been removed because it was already present.

Input Format:

In one line take the elements of the list L with each element separated by a space.

Output Format:

Print the elements of the modified list in one line with each element separated by a space.

Example:
Input: 12 24 35 24

Output : 12 24 35

In [18]:
rem_list = [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
print("Original list in reserved order: " +str(rem_list))
r = []
for i in rem_list:
    if i not in r:
        r.append(i)
print("After removing duplicate values rem_list is: " +str(r))

Original list in reserved order: [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
After removing duplicate values rem_list is: [12, 24, 35, 88, 120, 155]